
body{
background:#ffe6f0;
font-family:Arial;
margin:0;
padding:15px;
}

header{
background:white;
padding:30px;
border-radius:20px;
text-align:center;
margin-bottom:20px;
}

.card{
background:#fff0f5;
padding:20px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

button{
background:#ff69b4;
color:white;
border:none;
padding:14px;
border-radius:12px;
width:100%;
font-size:16px;
}
