body{
background:#fff7f8;
padding:20px;
font-family:Arial;
}

h1{
text-align:center;
color:#d85c8d;
}

h2{
color:#c94f7c;
}

.negocio{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.categoria{
background:#ffd6e6;
padding:12px;
border-radius:12px;
text-align:center;
margin:8px;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#ff77a9;
color:white;
font-size:16px;
}

.producto{
background:#fff0f5;
padding:15px;
margin-top:10px;
border-radius:15px;
}
