body{
background:#dff5df;
font-family:Arial;
margin:0;
padding:15px;
}

header{
background:white;
padding:30px;
border-radius:20px;
text-align:center;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,.08);
}

header p{
font-size:16px;
color:#444;
}

.categorias{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:20px;
}

.categoria{
background:#e9dfc8;
padding:14px;
border-radius:12px;
text-align:center;
font-weight:bold;
}

.card{
background:white;
padding:20px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.card h2{
margin-top:0;
}

.boton-dulce{
background:#ff69b4;
color:white;
border:none;
padding:14px;
width:100%;
border-radius:12px;
margin-top:8px;
font-size:16px;
}

.boton-verde{
background:#2ecc71;
color:white;
border:none;
padding:14px;
width:100%;
border-radius:12px;
margin-top:8px;
font-size:16px;
}
